# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.gradle
.idea/
app/.externalNativeBuild/
app/build/
app/src/main/libs/
app/src/main/obj/
app/src/main/java/net/sourceforge/lifeograph/IDs.java
build/
captures/
libs/

# jni
external/android-ndk
external/libgcrypt-armv7a/
external/libgcrypt-arm64/
external/libgcrypt-mips/
external/libgcrypt-riscv64/
external/libgcrypt-x86/
external/libgcrypt-x86_64/
external/libgpg-error-armv7a/
external/libgpg-error-arm64/
external/libgpg-error-mips/
external/libgpg-error-riscv64/
external/libgpg-error-x86/
external/libgpg-error-x86_64/
external/prefix/
